<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      Ir a Login
    </a>
  </li>
  <li>
    <a routerLink="/auth/registro">
      Ir a registro
    </a>
  </li>

  <li>
    <a routerLink="/heroes/listado">
      Heroes listado
    </a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">
      Heroes agregar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/editar/12">
      Heroes Editar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">
      Heroes buscar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/234">
      Herero id
    </a>
  </li>
</ul>

